/*------------------------------------------
 * Markdown
 ------------------------------------------*/

.markdown h1, .markdown h2, .markdown h3,
.markdown h4, .markdown h5, .markdown h6 {
    font-weight: 600;
}

.markdown h1 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
    margin-top: 2.3rem;
}

.markdown h2 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.markdown h2:before {
    content: '#';
    color: #3798e8;
    margin-right: 5px;
}

.markdown h3 {
    font-size: 1rem;
    margin-bottom: 1.2rem;
    margin-top: 1.7rem;
    padding: 10px 0 10px 0;
}
.markdown h3:before {
    content: '';
    border-radius: 100%;
    border: 2px solid #777;
    display: inline-block;
    width: .5rem;
    height: .5rem;
    margin: 0 8px 1px 0;
    background-color: #4acc40;
}

.markdown h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1.25rem;
}

.markdown h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1.25rem;
}

.markdown h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1.25rem;
}

.markdown b, .markdown strong {
    font-weight: 600;
}


.markdown>code {
    border-radius: 2px;
    position: relative;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 1rem;
    font-weight: 500;
    background-color: #f7f7f7;;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}

p>code {
    padding: 2px 4px;
    font-size: 14px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 3px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.markdown p {
    margin-top: 0.75rem;
}

.markdown a {
    font-weight: 600;
    padding: 0 2px;
}

.markdown blockquote {
    border-left: 4px solid #42b983;
    padding: 10px 15px;
    color: #777;
    background-color: rgba(66, 185, 131, .1);

}

.markdown blockquote p:last-child {
    margin-bottom: 0;
}

.markdown table {
    margin: 0 auto;
    margin-bottom: 1rem;
    /* width: 100%; */
    vertical-align: middle;
    min-width: 60%;
}

.markdown table th {
    font-weight: 600;
    text-align: center;
}

.markdown td, .markdown th {
    font-weight: 500;
    padding: .25rem .5rem;
    /* border: 1px solid #e5e5e5; */
    border: 1px solid var(--grey-l3);
}

.markdown tbody tr:nth-child(odd) td,
.markdown tbody tr:nth-child(odd) th {
    /* background-color: #f7f7f7; */
    background-color: var(--grey-l4);
}

.markdown img {
    margin: 1rem 0;
    max-width: 100%;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.markdown .no-border img {
    box-shadow: none;
    -webkit-box-shadow: none;
}