{{ define "main" }}
<div id="container" class="site-refresh default-list">
    {{ partial "bar-main.html" . }}
    <main id="post-main" class="post-main-wrapper mx-auto px-1 px-lg-5">
        <div class="row">
            <div class="col-md-3 d-none d-md-block pl-4 pl-lg-0">
                {{ partial "bar-left.html" . }}
            </div>

            <!-- post list-->
            <div id="main" class="col-12 col-md-9 col-lg-6 p-0">
                <div class="heading">
                    <div class="inner">
                        <span class="underline-span pl-1 mr-2 font-weight-bold">
                            {{ partial "page-heading.html" . }}
                        </span>
                        {{ $page_num := (len .Data.Pages)}}
                        {{ if gt $page_num 0 }}
                        <span>
                        {{ i18n "postCount" $page_num }}
                        </span>
                        {{ end }}
                    </div>
                </div>

                {{ if .Content }}
                <div class="post-content markdown">
                    {{ .Content }}
                </div>
                {{ end }}

                <div id="primary" class="list preview">
                    {{ $paginator := .Paginate .Data.Pages.ByPublishDate.Reverse }}
                    {{ range $paginator.Pages }}
                    {{ partial "card-post.html" . }}
                    {{ end }}
                </div>
                <!-- /.Post list -->
                <!-- pagination-->
                {{ if $paginator.HasNext }}
                <div id="pagination" aria-label="Page navigation">
                    <div class="posts-paging">
                        <a href="/page/{{add $paginator.PageNumber 1}}">
                            <i class="dot"></i>
                            <i class="dot"></i>
                            <i class="dot"></i>
                        </a>
                    </div>
                </div>
                {{ end }}
                <!-- /pagination-->
            </div>
            <!-- /post list-->
            {{ partial "bar-right.html" . }}

            <div class="back-to-top">
                <i class="fa fa-arrow-up"></i>
            </div>
        </div>
    </main>

</div>
{{ end }}
