{{ define "main" }}

<div id="container" class="site-refresh default-terms">
    {{ partial "bar-main.html" . }}
    <main id="post-main" class="post-main-wrapper mx-auto px-1 px-lg-5">
        <div class="row">
            <div class="col-md-3 d-none d-md-block pl-4 pl-lg-0">
                {{ partial "bar-left.html" . }}
            </div>
            <div id="main" class="col-12 col-md-9 col-xl-6 p-0">
                <div class="posts-collapse pt-0">
                    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
                    <h3 class="term-title">{{ i18n $taxonomyname }}</h3>
                    <div class="tag-cloud">
                        <div class="terms-box">
                            {{ range $key, $value := $taxonomy }}
                            <a href="{{ $taxonomyname | relLangURL }}/{{ $key | urlize }}">
                                <span>{{ $key }}({{.Count}})</span>
                            </a>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </main>
</div>
{{ end }}
