<div class="post-header text-left">

    <div class="post-heading pb-1">{{ .Title }}</div>

    <div class="post-meta mt-0 pt-0 font-small">
        {{ if and .Site.Params.dateformfull .Site.Params.dateform }}
        {{ .Date.Format .Site.Params.dateform }}
        {{ else }}
        {{ .Date.Format "Jan 2, 2006" }}
        {{ end }}
        {{ if .Params.categories }}
        {{ range .Params.categories }}
        /
        <svg class="icon icon-sm" aria-hidden="true">
            <use xlink:href="#icon-folderopen"></use>
        </svg>
        <a href="{{ "categories/" | absLangURL }}{{ . | urlize }}" aria-hidden="true"></i> {{ . }} </a>
        {{ end }}
        {{ end }}
        {{ if .Params.series }}
        {{ range .Params.series }}
        /
        <svg class="icon icon-sm" aria-hidden="true">
            <use xlink:href="#icon-bookmark"></use>
        </svg>
        <a href="{{ "series/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
        {{ end }}

    </div>
    <hr>
    {{ with .Params.img }}
    <div class="view">
        <img src="{{ . | absURL }}"/>
    </div>
    {{ end }}

</div>