{{/* Enable image to be loaded from local page src or media library at `static/images/`. */}}
{{ $image_src := .Get "src" }}

{{/* 如果 figure 短代码带有 library="true" ，则定位到 static/images/ */}}
{{ if .Get "library" }}
  {{ $image_src = printf "images/%s" $image_src | relURL }}
{{ end }}

{{/* 默认启用fancybox ? */}}
{{ $lightbox := eq (.Get "lightbox" | default "true") "true" }}

{{/* Get lightbox group for showing multiple images in a lightbox. */}}
{{ $group := .Get "lightbox-group" | default "" }}

{{/* Get caption. Support legacy `title` option. */}}
{{ $caption := .Get "title" | default (.Get "caption") | default "" }}

{{/* 默认居中 */}}
{{ $centerbox := eq (.Get "centerbox" | default "true") "true" }}

<figure{{ with .Get "class" }} class="{{.}}"{{ end }}>
<div{{ if $centerbox }} class="flex-center w-100" {{ end }}>

{{ if $lightbox }}
  <a data-fancybox="{{$group}}" href="{{$image_src}}" {{ with $caption }}data-caption="{{ .|markdownify|emojify }}"{{ end }}>
{{ else if .Get "link"}}
  <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{.}}"{{ end }}{{ with .Get "rel" }} rel="{{.}}"{{ end }}>
{{ end -}}

<img src="{{$image_src}}" alt="{{ with .Get "alt" }}{{.}}{{end}}" {{ with .Get "width" }}width="{{.}}" {{end}}{{ with .Get "height" }}height="{{.}}" {{end}}>

{{- if or $lightbox (.Get "link") }}</a>{{ end }}
</div>
{{ if $caption }}
  {{/* Localize the figure numbering (if enabled). */}}
  {{ $figure := split (i18n "figure" | default "Figure %d:") "%d" }}
  <figcaption{{ if eq (.Get "numbered") "true" }} data-pre="{{ index $figure 0 }}" data-post="{{ index $figure 1 }}" class="numbered"{{ end }}{{ if $centerbox }} class="flex-center w-100" {{ end }}>
    {{ $caption | markdownify | emojify }}
  </figcaption>
{{ end }}
</figure>
